html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Slab', serif; 
  background-color: black;
  background-image: url("http://mu-tihuang.com/walking_in_the_rain/images/rain.gif")
}

h2 {
  color: white;
  font-weight: bold;

}

.navigation {
  padding: 0;
  margin: 0;
  background: #333;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;

    li {
      display:inline-block;
      padding: 5px 10px;

      a {
        color: #E1E1E1;
        text-decoration: none;

        &:hover {
          color: lighten(#E1E1E1, 20%);
        }
      }
    }
    .active {

      background-color: lighten(#333,20%);
    }
}

.main {
  margin-top: 10px;
}

p {
  font-size: 22px;
  color: white;
  // text-align: center;
  width: calc(100% - 50px);
  text-shadow: 2px 2px black;
  margin-left: 25px;
  margin-right: 25px;

}

.slide {
  // opacity: .5;
  filter: brightness(100%);
  background-attachment: fixed;
  height: 100%;
  position: relative;
  padding: 30px;
  background-color: #000000;
  color: white; 
  
  &[data-slide="1"] {
    height: 900px;
    p {
      position: absolute;
      bottom: 0;
      opacity: 0.8;
      width:93%;
    }
  }

  &[data-slide="2"] {
    height: 500px;
    opacity: 0.9;
  }

  &[data-slide="3"] {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.92;
  }
}
.partial {
  width: 100%;
  height: 200%;
}

.home {
  background-color: black;
  color: white;
  height:800px;
  // background:linear-gradiant(#333333)
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 80px;
  margin-top: -76px;
 
}

//the writing
.ghost {
  color: #f0f0f5;
  font-size: 85px;
  margin-top: -10px;
  padding-top: 90px; 
  z-index: -1;
  text-align: center;
  opacity: 0.5;
  color:white;
}

.ghost:hover {cursor: pointer;}

.slide1 {
  color:#fff;
  // text-shadow: 2px 1px black;
}


//the picture
#ghost {
margin-top: -80px;
  width: 1400px;
  height: 550px;
  margin-left: 20px;
  z-index: 1;
  float:center;
  -webkit-filter: blur(10px);
  max-width: 1400px;
  max-height: 550px;
}
#ghost:hover {cursor: pointer;}

.ghost2 {
  align:right;
 float:right;
  z-index: -1;
  // -webkit-filter: blur(3px);
  height:400px;
}

.ghost3 {
  font-size: 70px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 38px;
}

#ghost:hover {
  -webkit-filter: blur(0px);
}

#ghost {
   color: transparent;
   text-shadow: white 0 0 1px;

   -webkit-transition: text-shadow 0.2s ease-in-out;
   -moz-transition:    text-shadow 0.2s ease-in-out;
   transition:         text-shadow 0.2s ease-in-out;
}

.descrip {
  color:white;
  z-index: 999;
  margin-top: 35px;
}

.title {
  margin-top: 50px;
  color: white;
  max-height: 40%;
}

.author1 {

  color: white;
  max-height: 40%;
  position: relative;
  font-weight: bold;
  font-size: 100px;
  margin-left: 50px;
  text-shadow: 1px 1px grey;
  color: white;
}

.title1 {
  margin-top: 50px;
  color: white;
  max-height: 40%;
  position: relative;
  font-weight: bold;
  font-size: 100px;
  margin-left: 50px;
  text-shadow: 1px 1px grey;
  color: white;

}


.title, .author {
  position: relative;
  font-weight: bold;
  // font-size: 100px;
  text-shadow: 1px 1px #999999;
  color: white;
}


.tab {
  text-align: center;
  word-spacing: 25px;
  font-size: 20px;
  position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    opacity: 0.3;
    color: white;
 }

 .tab2  {
  text-align: center;
  word-spacing: 25px;
  font-size: 20px;
  position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    opacity: 0;
    color: white;
 }

 .tab:hover {
  opacity: 1;
 }

 .tab2:hover {
  opacity: 1;
 }



 a:hover {

   color: darken(white, 50%);
 }

a {

  color: white;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer; 
}

a:active {
    text-decoration: none;
}

.white {

  text:white;
  color: white;
}

label {
  font-size: 120%;
}

select {
  display: block;
}

textarea {
  color:white;
}

input {
  color:white;
}

.ng-pristine ng-untouched ng-valid {
  background-color: white;
  text:white;
  color:white;
}

.ng-valid ng-dirty ng-valid-parse ng-touched {
  color:white;
}

// .stellar {
//   background-color: white;
// }

.signup {
  margin-top: 50px;
}

.login {
  margin-top: 50px;
}

h2#login {
  margin-left:200px;
}

.row .col.s12 {
  margin-left: 50px;
  max-width: 40%;
  max-height: 40%;
  display:inline;
}

.row {
  width: 90%;
}

#logo {
  height:30px;
  width:30px;
}

.horror {
  font-size: 80px;
  margin-top: 45px; 
  z-index: -1;
  text-align: center;
}

h4 {
  color: white;
  font-weight: bold;
}

.card {
  margin: 0 auto;
}

div.card-image img {
  width: 20px;
}


.form {
  color: white;
}

label {
  color:white;
  text-size:40px;
}

.button1 {
  margin-top: 10px;
  color: black;
}

.tile-text {
  height: 300px;
}

#button1 {
  width: 500px;
  margin-left: 250px
}

#button2 {
  width: 1000px;
}

.form-label {
  color:white;
  font-size: 30px;
  font-family: 'Josefin Slab', serif; 
  font-weight: bold;
  text-shadow: 1px 1px #999999;
}

.form-label-two {
  color:black;
  font-size: 20px;
  font-family: 'Josefin Slab', serif; 
  font-weight: bold;
}

.layout2 {
  width: 1000px;
}

.grizzly {
  margin-top: 50px;
}

.card .card-action a {
  color:white;
}

.delete-button {
  color:white;
  background-color: black;
}

.add {
  color: grey;
}
.add:hover {
    color: white;
}

.text-size {
  font-size: 20px;

}

.float-left{
  float: left;
}

.about-full {
  background-image: url("http://mu-tihuang.com/walking_in_the_rain/images/rainMore.gif");
}

.stories-full {
  background-image: url("http://mu-tihuang.com/walking_in_the_rain/images/rain.gif");
}

.form-full {
  background-image: url("http://mu-tihuang.com/walking_in_the_rain/images/rain.gif");
}

.login-full {
  background-image: url("http://mu-tihuang.com/walking_in_the_rain/images/rain.gif");
  width: 100%;
  height: 100%;
}

.signup-full {
  background-image: url("http://mu-tihuang.com/walking_in_the_rain/images/rain.gif");
  width: 100%;
  height: 100%;
}

.welcome {
  font-size: 40px;
}

.sign-up-fb {
  font-size: 41px;
  color: #3B5998;
}

