/*
Error: Invalid CSS after "=======": expected "{", was "}"
        on line 426 of style.scss

421: .about-full {
422:   background-image: url("http://mu-tihuang.com/walking_in_the_rain/images/rainMore.gif");
423: <<<<<<< HEAD
424: =======
425: 
426: }
427: 
428: .stories-full {
429:   background-image: url("http://mu-tihuang.com/walking_in_the_rain/images/rain.gif")
430: }
431: 

Backtrace:
style.scss:426
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1115:in `expected'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1110:in `tok!'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:655:in `block'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:725:in `declaration_or_ruleset'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:649:in `ruleset'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:674:in `block_child'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:126:in `stylesheet'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:42:in `parse'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:403:in `_to_tree'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/Joes/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"=======\": expected \"{\", was \"}\"\A         on line 426 of style.scss\A \A 421: .about-full {\A 422:   background-image: url(\"http://mu-tihuang.com/walking_in_the_rain/images/rainMore.gif\");\A 423: <<<<<<< HEAD\A 424: =======\A 425: \A 426: }\A 427: \A 428: .stories-full {\A 429:   background-image: url(\"http://mu-tihuang.com/walking_in_the_rain/images/rain.gif\")\A 430: }\A 431: "; }
