<div class="login-full">
<div class="tab">
  <a ui-sref="home nav">Go_Home</a>
  <a ng-show="main.loggedIn()"ui-sref="form">Add_Story</a>
  <a ng-show="main.loggedIn()" ui-sref="stories">Stories</a>
  <a ng-hide="main.loggedIn()" ui-sref="signup">Sign_Up</a>
  <a ng-hide="main.loggedIn()" ui-sref="login">Log_In</a>
  <a ng-show="main.loggedIn()" ng-click="main.disappear()">Log_Out</a> 
  <a ui-sref="about">About</a>
</div>
  <H2 class="horror">THE DREAD</H2>
  <div class="login">
    <div class="container">
      <h4> LOG IN.. IF YOU DARE.. </h4>
      <form id="login" class="col s12" method="post" ng-submit="main.login()">
        <div class="row">
          <input type="email" name="email" class="validate" placeholder="Email" autocomplete="off" ng-model="main.user.email">
          <input type="password" name="password" class="validate" placeholder="Password" autocomplete="off" ng-model="main.user.password">
        </div>
        <button type="submit" class="delete-button">Submit<i class="material-icons right"></i></button>
      </form>
      <br>
      <br>
      <a class="sign-up-fb" ng-hide="main.loggedIn()" ng-click="main.authenticate('facebook')">OR LOG-IN VIA FACEBOOK</a>
    </div>
  </div>
</div>