<div class="signup">
  <div class="container">
  <H2 class="horror">THE FEAR</H2>
    <h4> SIGN UP.. </h4>
    <form id="register" class="col s12" method="post" ng-submit="main.signup()">
      <div class="row">
        <input type="text" name="name" class="validate" placeholder="Username" autocomplete="off" ng-model="main.user.name">
        <input type="email" name="email" class="validate" placeholder="Email" autocomplete="off" ng-model="main.user.email">
        <input type="password" name="password" class="validate" placeholder="Password" autocomplete="off" ng-model="main.user.password">
      </div>
      <button type="submit" class="delete-button">Submit<i class="material-icons right"></i></button>
    </form>
  </div>
</div>